@model IEnumerable<MooiKind.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color1.Color1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description1.Description1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name1.Name1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price1.PriceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size1.Size1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color1.Color1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description1.Description1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name1.Name1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price1.PriceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size1.Size1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
